cmake_install.cmake
cmake-build-debug
*.vcxproj
*.filters
CMakeCache.txt
CMakeFiles
nodetemplate.dir
nodetemplate.sln
nodetemplate_autogen
x64
Debug/nodetemplate.*
logs/basic-log.txt
CMakeFiles
Debug
*.cmake
include/qt
defect_checker_autogen
logs/*
Makefile
*.txt
**/*.onnx
defect_checker
