cmake_install.cmake
cmake-build-debug
*.vcxproj
*.filters
CMakeCache.txt
CMakeFiles
nodetemplate.dir
nodetemplate.sln
nodetemplate_autogen
x64
Debug/nodetemplate.*
logs/basic-log.txt
CMakeFiles
Debug
*.cmake
include/qt
logs/*
Makefile
**/*.onnx
zmq_out_autogen
zmq_out
